* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
header {
    background-color: lightblue;
    border-bottom: 2px solid black;
    display: flex;
    height: 150px;
}
.cart-img {
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 5px;
}
.top-items {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px;
    margin-top: 35px;
    font-size: 25px;
    transition: .25s;
}
li:hover {
    border: 2px solid black;
    border-radius: 5px;
    transform: scale(1.25,1.25);
}
li:active {
    transform: scale(1.125,1.125);
}
.big-words {
    display: flex;
    align-items: center;
    margin-left: 40px;
    height: 100px;
    margin-top: 50px;

}
.logo {
    height: 100px;
    width: 100px;
    margin-right: 100px;
    display: flex;
    transition: .5s;
    margin-left: 50px;
    margin-top: 15px;
}
.logo:hover {
    transform: scale(1.125,1.125) rotate(720deg);
    border: 2px solid black;
    border-radius: 20%;
    cursor: pointer;
    transition: .5s;
}
.logo:active {
    transform: rotate(360deg) scale(.99,.99);
}
.product-message {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 25px;
}
.product-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 200px;
    margin-top: 100px;
}
.product-section2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 200px;
}
.product-card {
    height:300px;
    width: 200px;
    background-color: lightgoldenrodyellow;
    border: 2px solid blue;
    border-radius: 20px;
}
.product-card:hover {
    box-shadow: 25px black;
}
.product-img {
    height: 150px;
    width: 150px;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    border: 2px solid blue;
    border-radius: 20px;
}
.product-name {
    display: center;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
}
.product-button {
    background-color: lightblue;
    border: 2px solid blue;
    border-radius: 5px;
    margin-left: 50px;
    margin-bottom: 15px;
    transition: .1s;
    font-family: Arial, Helvetica, sans-serif;
}
.product-button:hover {
    background-color: lightpink;
    transform: scale(1.25,1.25);
}
.product-button:active {
    transform: scale(1.125,1.125);
    background-color: pink;
}
footer {
    display: flex;
    background-color: lightsalmon;
    height: 150px;
    justify-content: space-between;
    
}
.spam-email {
    font-size: 20px;
    margin-top: 30px;
}
.email {
    height: 5px;
}
.fine-print {
    font-size: 10px;
    margin-top: 60px;
}
input {
    height: 20px;
    align-items: center;
    margin-top: 60px;
}
body {
    background-color: lightgreen;
}
